* {
	font-size: 12px;
	font-family: JetBrainsMono Nerd Font Mono;
	font-weight: bold;
}


window#waybar {
  background: rgba(0,0,0,0);
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#window,
#workspaces,
#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#disk,
#window,
#tray {
	background: #333c43;
  border-radius: 8px;
  border: 2px solid #a7c080;
  margin-top : 10px;
}

#clock,
#window,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#disk,
#tray {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#workspaces button {
	border: 20px;
}
#workspaces button.active {
	background-color: #45443c;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #3a464c;
	border: #1a1a1a;
}

#pulseaudio {
	color: #d3c6aa;
}

#memory {
	color: #d3c6aa;
}
#cpu {
	color: #d3c6aa;
}
#battery {
	color: #d3c6aa;
  border: 2px solid #a7c080;
}
#disk {
	color: #b58900;
}

#clock {
  color: #d3c6aa;
}

#clock,
#pulseaudio,
#backlight
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}


#window,
#workspaces {
  /* background-color: #55544a; */
  border-color: #dbbc7f;
}

#clock {
  /* background-color: #425047; */
  border-color: #a7c080;
}

#pulseaudio,#backlight, #memory, #cpu {

  /* background-color: #3a515d; */
  /* border-color: #7fbbb3; */
  /* background-color: #55544a; */
  border-color: #dbbc7f;
}

.modules-left {
  margin-left: 20px;
}

.modules-right {
  margin-right: 15px;
}
